<h1>基本情報</h1>

<%= form_for(@person) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :'名前' %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :'メールアドレス' %>
        <%= f.text_field :email %>
        <br>
        性別<%= f.radio_button :sex, 0 %>男
            <%= f.radio_button :sex, 1 %>女
        <br>
        <%= f.label :'パスワード' %>
        <%= f.password_field :password %>
        <br>
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation %>
        <br>
        <%= f.submit "変更" %>
<% end %>