<h1>ようこそ</h1>
    <%=  @person.name %>さん
    
    <%= render 'follow_form' if logged_in? %>
    <h2>投稿一覧(ツイート数：<%= @tweets.count %>)</h2> 
    <% @tweets.each do |tweet| %>
        <%= tweet.content %>: <small><%= time_ago_in_words(tweet.created_at) %>前</small> 
        <% if current_user == tweet.person %>
            <%= link_to "削除", tweet, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
        <br>
    <% end %>
    