<%= link_to "Twitter", '#' %>
    <ul>
        <li><%= link_to "Home", '#' %></li>
        
        <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "設定", edit_person_path(current_user) %></li>
        <% else %>
            <li><%= link_to "ログイン", login_path %></li>        
        <% end %>
    </ul>